<script type="module" src="{$basePath}/bower_components/happy/src/Happy.js"></script>
<script src="{$basePath}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="{$basePath}/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/datagrid.js"></script>
<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/datagrid-instant-url-refresh.js"></script>
<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/datagrid-spinners.js"></script>
<script src="{$basePath}/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>