{block content}
    <h1>Miestnosti</h1>
    {if $user->isAllowed("Room:edit")}
    <a class="btn btn-success" n:href="Room:edit"><i class="fa fa-plus-square"></i> Pridat miestnosť</a>
    {/if}
    {control roomGrid}
{/block}
