<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<h2>Prihlasovacie údaje</h2>
<p>
    Ahojky,<br>
    vaša registrácia prebehla úspešne.<br>
    <br>
    <strong>Login:</strong> {$login} <br>
    Do systému sa môžete prihlásiť pomocou loginu a hesla, ktoré ste zadali pri registrácií. <br>
    Na registráciu kurzov, prosím, počkajte na schválenie od garanta.
</p>
</body>
</html>